.btn {
  border: none;
  border-radius: var(--border-radius-md);
  padding:0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-medium),
    color var(--transition-medium);
}

.small {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.medium {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

.large {
  padding: 1.25rem 2.5rem;
  font-size: 1.25rem;
}