:root {
  --min-width: 320px;
  --max-width: 1440px;
  --basic-font-size: 16px;

  --gap-xs: 12px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 32px;
  --gap-xl: 40px;

  --padding-xs: 8px;
  --padding-sm: 10px;
  --padding-md: 24px;
  --padding-lg: 32px;
  --padding-xl: 36px;

  /*section*/
  --padding-desktop: 164px;
  --padding-tablet: 124px;
  --padding-mobile: 80px;

  --padding-hero: 16px;

  --font-size-hero-tablet: 7.75rem;
  --font-size-hero-mobile: 4rem;

  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 20px;
  --border-radius-circle: 30px;
  --border-radius-full: 99999px;

  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.3s ease-in-out;
  --transition-slow: 0.4s ease-in-out;

  --z-2: 2;
  --z-10: 10;
  --z-100: 100;
  --z-modal: 1000;
  --z-main: 10000;

  --sun-clr: #f0f056;
  --icon-unactive-clr: #bdbdbc;
  --moon-clr: #f2ff8b;
  --moon-bg-clr: #141313;
  --white-clr: #fff;

  /* Light theme */
  --primary-clr: #292929;
  --secondary-clr: #f0f0f0;
  --accent-clr: #00b068;
  --hover-clr: #009156;
  --secondary-bg-clr: #e4e5e6;
  --secondary-hover-bg-clr: #bbbbbb;
  --hero-bg-clr: #e4e5e6;
  --hero-btn-bg-clr: rgba(0, 176, 104, 0.2);
  --mobile-menu-bg-clr: #f0f0f0;
  --skills-bg-clr: #BCDFD1;
}

/* dark theme */
.dark {
  --primary-clr: #f0f0f0;
  --secondary-clr: #292929;
  --accent-clr: #14c57c;
  --hover-clr: #009156;
  --secondary-bg-clr: #2a2d32;
  --secondary-hover-bg-clr: #3b3f45;
  --hero-bg-clr: #1e2023;
  --hero-btn-bg-clr: rgb(26, 57, 44);
  --mobile-menu-bg-clr: #1e2023;
  --skills-bg-clr: #214136;

}
