.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }

  .nav__list {
    display: flex;
    gap: var(--gap-xl);
  }
}

.link__btn {
  color: var(--primary-clr);
  transition: color var(--transition-medium);
}

.link__btn:is(:hover, :focus) {
  color: var(--accent-clr);
  text-wrap: nowrap;
}
