body {
  font-family: "Poppins", sans-serif;
  font-size: var(--basic-font-size);
  background-color: var(--mobile-menu-bg-clr);
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8;
  font-family: "ImpactCustom", sans-serif;
}

.no-scroll {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

.no-scroll::-webkit-scrollbar {
  display: none !important;
}

.no-scroll {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
